/* your beautiful css styling goes here! */

html, html body {
  background-color: #ebebe0;
}

.board svg {
  border: 2.5px solid;
  background: url(bg.jpg) no-repeat center center;
  background-size: cover;
  display: block;
  margin: auto;
  position: relative;
  height:600px;
  width: 900px;  
}

.container {
  max-width: 900px;
  margin-top: 30px;
}

.enemy {
 background: url('tie.png');
 background-size: cover;
 height: 35px;
 width: 35px;
 position: absolute;
}

.hero {
  background: url('hero.png');
}


.mouse {
  background: url('hero.png');
  background-size: cover;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  position: absolute;
}

.title {
  padding:25px 0 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  background-color: #66b2ff;
}

.scoreboard {
  padding: 10px 20px 10px 0;
  background-color: #cce5ff;
}

.toprow {
  max-height: 80px;
  overflow: hidden;
}


/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

